<mat-sidenav-container>
  <mat-sidenav opened mode="side" [fixedInViewport]="true">
    <mat-nav-list>
      <div class="router-button-container"
        routerLink="/categories"
        routerLinkActive
        #routerLinkCategories="routerLinkActive"
      >
        <a class="router-button"
          mat-raised-button
          [color]="routerLinkCategories.isActive ? 'accent' : 'primary'"
          >Categories</a
        >
    </div>
      <div class="router-button-container"
        routerLink="/spendings"
        routerLinkActive
        #routerLinkSpendings="routerLinkActive"
      >
        <a 
          mat-raised-button
          [color]="routerLinkSpendings.isActive ? 'accent' : 'primary'"
          >Spendings</a
        >
  </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="routerContent"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
