<h2>Budget Categories</h2>
<div class="example-button-row">
  <div class="example-flex-container">
    <mat-list role="list" *ngFor="let element of categoriesList">
      <mat-list-item role="listitem">{{ element.name }}</mat-list-item>
    </mat-list>
  </div>
</div>

<button
  *ngIf="addCategoryClicked === false"
  mat-raised-button
  color="primary"
  (click)="clickedAddCategory()"
  class="add-category-button"
>
  Add category
</button>

<form *ngIf="addCategoryClicked === true">
  <mat-form-field class="new-category-field">
    <mat-label>Type new category:</mat-label>
    <input
      [(ngModel)]="newCategoryName"
      type="text"
      class="form-control"
      name="newName"
      required
      minlength="3"
      matInput
      placeholder="Type new category:"
      #categoryName="ngModel"
    />
    <ng-container
      *ngIf="
        categoryName.invalid && (categoryName.dirty || categoryName.touched)
      "
      class="alert"
    >
      <mat-error *ngIf="categoryName.errors?.['required']">
        Category name is required.
      </mat-error>
      <mat-error *ngIf="categoryName.errors?.['minlength']">
        Category name must be at least 3 characters long.
      </mat-error>
    </ng-container>
  </mat-form-field>

  <br />

  <button
    [disabled]="categoryName.invalid"
    mat-raised-button
    color="primary"
    (click)="submitNewCategory()"
    class="submit-category-button"
  >
    Submit
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="cancelButton()"
    class="cancel-category-button"
  >
    Cancel
  </button>
</form>
