<h2>Budget Categories</h2>
<div class="example-button-row">
  <div class="example-flex-container">
    <mat-list role="list" *ngFor="let element of categoriesList">

      <mat-list-item role="listitem">{{ element.name }}</mat-list-item>
    </mat-list>
  </div>
</div>

<button
  *ngIf="addCategoryClicked === false"
  mat-raised-button
  color="primary"
  (click)="clickedAddCategory()"
  class="add-category-button"
>
  Add category
</button>

<form *ngIf="addCategoryClicked === true">
  <mat-form-field class="new-category-field">
    <mat-label>Type new category:</mat-label>
    <input
      [(ngModel)]="newCategoryName"
      type="text"
      class="form-control"
      name="newName"
      required
      minlength="3"
      matInput
      placeholder="Type new category:"
      #categoryName="ngModel"
    />
  </mat-form-field>

  <div
    *ngIf="categoryName.invalid && (categoryName.dirty || categoryName.touched)"
    class="alert"
  >
    <div *ngIf="categoryName.errors?.['required']">
      Category name is required.
    </div>
    <div *ngIf="categoryName.errors?.['minlength']">
      Category name must be at least 3 characters long.
    </div>
  </div>
  <br />

  <button
    [disabled]="categoryName.invalid"
    mat-raised-button
    color="primary"
    (click)="submitNewCategory()"
    class="submit-category-button"
  >
    Submit
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="cancelButton()"
    class="cancel-category-button"
  >
    Cancel
  </button>
</form>
