<h2>Spending</h2>
<div class="spendings-container">
  <div class="spendingsTable">
    <table mat-table [dataSource]="spendingsList">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.categoryName }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.date | date : 'EEEE / MMMM d, y ' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <button
    *ngIf="addSpendingClicked === false"
    mat-raised-button
    color="primary"
    (click)="clickedAddSpending()"
    class="add-spending-button"
  >
    Add
  </button>

  <form *ngIf="addSpendingClicked === true" class="new-spending-form">
    <mat-form-field class="datepicker-field">
      <!-- date -->
      <mat-label>{{ newDate | date : 'M/d/y ' }}</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="newDate"
        name="choosenDate"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- text -->
    <mat-form-field class="title-field">
      <mat-label>Type title: </mat-label>
      <input
        [(ngModel)]="newTitle"
        type="text"
        class="form-control"
        name="newTitle"
        required
        minlength="3"
        matInput
        placeholder="Type new title:"
        #spendingTitle="ngModel"
      />

      <ng-container
        *ngIf="
          spendingTitle.invalid &&
          (spendingTitle.dirty || spendingTitle.touched)
        "
        class="alert"
      >
        <mat-error *ngIf="spendingTitle.errors?.['required']">
          Title is required.
        </mat-error>
        <mat-error *ngIf="spendingTitle.errors?.['minlength']">
          Title must be at least 3 characters long.
        </mat-error>
      </ng-container>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select category</mat-label>
      <mat-select [(ngModel)]="newCategoryName" name="choosenCategoryName">
        <!-- value="{{element.id}}" === [value]="element.id" -->
        <mat-list *ngFor="let element of categoriesList">
          <mat-option [value]="element.id"
            ><mat-list-item role="listitem">{{
              element.name
            }}</mat-list-item></mat-option
          >
        </mat-list>
      </mat-select>
    </mat-form-field>
    <br />
    <!-- button -->
    <button
      [disabled]="spendingTitle.invalid"
      mat-raised-button
      color="primary"
      (click)="submitNewSpending()"
      class="submit-spending-button"
    >
      Submit
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="cancelButton()"
      class="cancel-spending-button"
    >
      Cancel
    </button>
  </form>
</div>
