<mat-sidenav-container>
  <mat-sidenav opened mode="side" [fixedInViewport]="true">
    <mat-nav-list>
      <mat-list-item routerLink="/categories"  routerLinkActive="activebutton">
        <a mat-raised-button	color="primary">Categories</a>
      </mat-list-item>
      <mat-list-item routerLink="/spendings" routerLinkActive="activebutton">
        <a mat-raised-button	color="primary">Spendings</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
