<div class="password-reset-form-container">
  <h2>Reset your password</h2>
  <p>
    Enter your user account's verified email address and we will send you a
    password reset link.
  </p>
  <form class="password-reset-form">
    <mat-form-field class="email-field">
      <mat-label>Email:</mat-label>
      <input matInput required />
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" class="reset-password-button">
      Send password reset email
    </button>
  </form>

  
</div>
