div.password-reset-form-container {
  width: 400px;
  display: block;
  margin: auto;
}
form.password-reset-form mat-form-field {
  width: 100%;
}
button.reset-password-button {
  width: 100%;
  margin: auto;
  display: block;
}
